body {
    margin: auto;
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.font {
    font-family: "Sofia", sans-serif;
    color: rgb(230, 42, 18);
    display: inline;
}

#tab {
    height: 60px;
}

#image {
    height: 400px;
    width: 40%;
    float: left;
    position: absolute;
    margin-right: 40%;
}

#details {
    height: 400px;
    margin-left: 40%;
}

#skills {
    height: 500px;
    background-image: url('background.jpeg');
}

a {
    text-decoration: none;
} body {
    margin: auto;
    background-image: ('<a href="https://ibb.co/TtqngN1"><img src="https://i.ibb.co/KWzQr8D/background.jpg" alt="background" border="0"></a>');
    background-repeat: no-repeat;
    background-size: cover;
}

.font {
    font-family: "Sofia", sans-serif;
    color: rgb(230, 42, 18);
    display: inline;
}

#tab {
    height: 60px;
}

#image {
    height: 400px;
    width: 40%;
    float: left;
    position: absolute;
    margin-right: 40%;
}

#details {
    height: 400px;
    margin-left: 40%;
}

#skills {
    height: 500px;
    background-image: url('istockphoto-1325680818-170667a.jpg');
}

a {
    text-decoration: none;
}